*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial,sans-serif;
}

body{
    background: white;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: aqua;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 15px gray;
    width: 100%;
    max-width: 300px;
}

.container h2{
    text-align: center;
    margin-bottom: 25px;
    color: #333;
}

.form-group{
    margin-bottom: 20px;
}

.form-group label{
    display: block;
    margin-bottom: 8px;
    color: #555;
}
 .form-group input{
    width: 100%;
    padding: 10px 12px;
    border-radius: 5px;
    font-size: 16px;
 }
 .btn{
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border-radius: 6px;
    margin-bottom: 8px;
    background-color: #007BFF;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
 }
 .btn:hover {
    background-color: #315f8f;
 }
 .footer a{
    color: #007BFF;
    text-decoration: none;
 }